[Desktop Entry]
Name=Onboard
Name[zh_CN]=Onboard
GenericName=Onboard onscreen keyboard
GenericName[zh_CN]=Onboard 屏幕键盘
Comment=Flexible onscreen keyboard
Exec=onboard
Terminal=false
Type=Application
Categories=Utility;Accessibility;
MimeType=application/x-onboard;
Icon=onboard
X-Ubuntu-Gettext-Domain=onboard
X-XFCE-Source=file:///usr/share/applications/onboard.desktop
