/secureboot/*
!/secureboot/mkarchiso.patch
!/secureboot/patch.sh
!/secureboot/diff.sh
!/secureboot/genkey.sh
/db.key
/db.crt
/db.cer
/TMP
/OUT
/data
/aur/pkgs
/aur/cache
/release
/bt
/homebase/public/.emacs.d/eln-cache
/homebase/public/.emacs.d/elpa
/homebase/public/.emacs.d/quelpa
/archive
/airootfs/etc/skel
/airootfs/root
/ignored
/result.log
/publishiso-version
/publishiso-filename
*~
*.gitignored
gitignored-
