/anotherpac/cache
/patchedmkarchiso/*
!/patchedmkarchiso/mkarchiso.patch
!/patchedmkarchiso/patch.sh
!/patchedmkarchiso/diff.sh
!/patchedmkarchiso/genkey.sh
/db.key
/db.crt
/db.cer
/TMP
/OUT
/data
/aur/pkgs
/aur/cache
/aur/custom/origin-PKGBUILD
/release
/bt
/homebase/public/.emacs.d/eln-cache
/homebase/public/.emacs.d/elpa
/homebase/public/.emacs.d/quelpa
/archive
/airootfs/etc/skel
/airootfs/root
/airootfs/usr
/ignored
/result.log
/result.md
/publishiso-version
/publishiso-filename
*~
*.gitignored
gitignored-
