/anotherpac/cache
/patchedmkarchiso/*
!/patchedmkarchiso/mkarchiso.patch
!/patchedmkarchiso/patch.sh
!/patchedmkarchiso/diff.sh
!/patchedmkarchiso/genkey.sh
/TMP
/OUT
/TEST
/aur/pkgs
/aur/cache
/aur/custom/origin-PKGBUILD
/release
/bt
/homebase/public/.emacs.d/eln-cache
/homebase/public/.emacs.d/elpa
/homebase/public/.emacs.d/quelpa
/ignored
/result.log
/result.md
/publishiso-version
/publishiso-filename
*~
*.gitignored
gitignored-
# releng
/airootfs
/efiboot
/syslinux
/grub/loopback.cfg
/bootstrap_packages.x86_64
