app=ristretto
custom_action_command=none
last_user=
last_extension=png
enable_imgur_upload=true
show_in_folder=false
screenshot_dir=file:/home/archer
action=4
delay=0
region=3
show_mouse=0
show_border=1

