/* Dark mode colors. */
:root[data-theme='dark'] {
    --sl-color-accent-low: #000000;
    --sl-color-accent: #81a1c1;
    --sl-color-accent-high: #81a1c1; /* hyperlinks, selection bg, left-top corner title, etc. */
    --sl-color-white: #a3be8c; /* highlighted text */
    --sl-color-gray-1: #eceff4; /* text on top bar */
    --sl-color-gray-2: #e5e9f0; /* normal text */
    --sl-color-gray-3: #81a1c1; /* TOC on right side */
    --sl-color-gray-4: #4c566a;
    --sl-color-gray-5: #434c5e; /* bullet line on side bar */
    --sl-color-gray-6: #222632; /* sidebar, topbar */
    --sl-color-black: #2e3440;
}

/* Page title */
:root[data-theme='dark'] h1:is(#_top) {
  color: #a3be8c;
}
/* Headings */
:root[data-theme='dark'] .sl-markdown-content h1 {
  color: #CD8D7A;
  font-size: 100%;
}
:root[data-theme='dark'] .sl-markdown-content h2 {
  color: #F6B17A;
  font-size: 100%;
}
:root[data-theme='dark'] .sl-markdown-content h3 {
  color: #F6ECA9;
  font-size: 100%;
}
:root[data-theme='dark'] .sl-markdown-content h4 {
  color: #AAD9BB;
  font-size: 100%;
}
:root[data-theme='dark'] .sl-markdown-content h5 {
  color: #6DA4AA;
  font-size: 100%;
}
:root[data-theme='dark'] .sl-markdown-content h6 {
  color: #BF90DD;
  font-size: 100%;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #c5d9f2;
    --sl-color-accent: #156ac7;
    --sl-color-accent-high: #11325b;
    --sl-color-white: #181818;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eeeeee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-black: #ffffff;
}
/* Page title */
:root[data-theme='light'] h1:is(#_top) {
  color: #839e6c;
}
/* Headings */
:root[data-theme='light'] .sl-markdown-content h1 {
  color: #AD6D5A;
  font-size: 100%;
}
:root[data-theme='light'] .sl-markdown-content h2 {
  color: #E6A16A;
  font-size: 100%;
}
:root[data-theme='light'] .sl-markdown-content h3 {
  color: #D6CC99;
  font-size: 100%;
}
:root[data-theme='light'] .sl-markdown-content h4 {
  color: #8AB99B;
  font-size: 100%;
}
:root[data-theme='light'] .sl-markdown-content h5 {
  color: #4D848A;
  font-size: 100%;
}
:root[data-theme='light'] .sl-markdown-content h6 {
  color: #9F70BD;
  font-size: 100%;
}

img {
  border-radius: 7px;
}

code {
  border-radius: 5px;
}

.card {
  background-color: var(--sl-color-gray-5) !important;
  border-radius: 25px;
}

header {
  /* 顶栏下边缘的横线 */
  border-bottom: 1px solid var(--sl-color-gray-4) !important;
}

blockquote {
  /* 引用块的左缘 */
  border-left: 4px solid var(--sl-color-gray-4) !important;
}

/* aside 中的文字 */
.starlight-aside__content {
  color: var(--sl-color-gray-2);
}
