[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/tilix "%s"
Icon=tilix
Name=tilix
X-XFCE-Commands=/usr/bin/tilix

