[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=/usr/bin/konsole "%s"
Icon=konsole
Name=konsole
X-XFCE-Commands=/usr/bin/konsole

